@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(7, 12, 20);
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(7, 12, 20);
    --foreground: #fff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(7, 17, 32);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(45, 64, 97);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
